.left-container {
  margin: auto;
  margin-top: 1em;
  padding: 10px;
  width: 65%;
  text-align: center;
}
.datePicker-div {
  padding: 10px;
  text-align: center;
  width: 50%;
  margin: auto;
  margin-top: 1em;
}

.time-select {
  padding: 10px;
  text-align: center;
  width: 50%;
  margin: auto;
  margin-top: 1em;
}

.type-select {
  padding: 10px;
  text-align: center;
  width: 50%;
  margin: auto;
  margin-top: 1em;
}
.submitBtn-div {
  padding-top: 50px;
}

.resetBtn-div {
  padding: 10px;
}

.alert-div {
  padding: 10px;
}
